* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  font-size: 100%;
}
h1 {
  text-align: center;
}
.container {
  display: flex;
}
.card {
  width: 300px;
  height: 350px;
  border-radius: 10px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(78, 46, 129, 1) 100%
  );
}
.crd-flx {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 10px;
  padding: 30px;
}
.wrap {
  display: none;
}
button {
  display: block;
  margin: auto;
  padding: 5px;
}
input[type='checkbox'] {
  display: block;
  margin: auto;
  margin-bottom: 15px;
}
